# Core requirements
nest_asyncio
torch
torchvision
torchaudio
yt-dlp
gradio==4.19.2
pydub==0.25.1
edge_tts==6.1.7
deep_translator==1.11.4
gTTS
gradio_client==0.10.1
praat-parselmouth>=0.4.3
pyworld==0.3.2
faiss-cpu
torchcrepe
ffmpeg-python
gdown
rarfile
transformers
accelerate
optimum
sentencepiece
srt
onnxruntime-gpu

# Git-based dependencies (keep these separate)
# git+https://github.com/m-bain/whisperX.git@a5dca2c
# git+https://github.com/facebookresearch/fairseq.git@refs/pull/5359/merge
# git+https://github.com/R3gm/openvoice_package.git@lite

# Documents
PyPDF2
python-docx